.nav-link{
    color: black;
}

.cont-imgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imagenpc {
    height: 600px;
    object-fit: cover;
    width: 50%;
    border-radius: 10px;
    box-shadow: 1px 4px 24px 0px rgba(66, 68, 90, 1);
}

.card-body img{
    width: 100%;     /* hace que ocupe todo el ancho disponible */
    height: auto;   
}